@media only screen and (max-width: 360px) {
    .logo {
        margin-top: 5px;
        margin-left: 10px;
    }
    .list-nav ul {
        display: none;
    }
    .menu-icon-div {
        display: block;
    }
    /*login page*/
    .login-form-div {
        width: 300px;
        height: 230px;
    }
    .login-form-div form {
        margin-top: 5px;
        padding: 12px;
        color: black;
        font-size: 12px;
    }
    .login-form-div input {
        width: 270px;
        padding: 4px;
        padding-right: 40px;
    }
    .login-form-div button {
        width: 270px;
        padding: 6px 20px;
        margin-top: 3px;
    }
    .login-form-div p {
        display: none;
    }
}