body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


/*preloader*/

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 999999999999;
    text-align: center;
}

#loading img {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 230px;
}

.data-b {
    margin-right: 10px;
    font-size: 15px;
    color: #77b568;
}

.nav-bar {
    position: fixed;
    width: 280px;
    height: 100vh;
    background-color: #282828;
    z-index: 99999999;
}

.logo {
    position: relative;
    margin-top: -100px;
    margin-left: 10px;
    width: 250px;
    height: 65px;
    z-index: 9999;
}

.logo img {
    height: 100%;
    width: 100%;
}

.over-lay {
    position: relative;
    margin-top: -30px;
    height: 160px;
    width: 280px;
    background-color: #434343;
}

.list {
    position: relative;
    margin-top: 150px;
    margin-left: -15px;
}

.list ul li {
    padding: 5px;
}

.list ul li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.list ul li :hover {
    color: #e5ebed;
}

.relese-note {
    position: relative;
    margin-left: 25px;
    margin-top: 140px;
    padding: 10px;
    width: 230px;
    height: 260px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #1b1818;
    overflow: auto;
}

.relese-note::-webkit-scrollbar {
    width: 5px;
}

.relese-note::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #282828;
}

.relese-note::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #1b1818;
}

.relese-note h2 {
    position: relative;
    margin-top: -3px;
    padding-bottom: 5px;
    opacity: 1;
    color: white;
    font-size: 20px;
    font-weight: 590;
    color: #77b568;
}

.relese-note p {
    position: relative;
    color: white;
    text-align: justify;
    opacity: .9;
}


/*nav bar ending here*/

.account {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid;
    background-color: white;
    border-color: #ececec;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 .5px .5px 0 rgba(0, 0, 0, 0.19);
}

.user-icon {
    position: relative;
    float: right;
    color: #77b568;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 100px;
    cursor: pointer;
}

.connect-icon {
    position: relative;
    float: right;
    color: black;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 15px;
    color: red;
    cursor: pointer;
}

.mob-menu-icon {
    position: relative;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 25px;
    color: #77b568;
    z-index: 99999999999999999999999999999;
}

.produt-dis {
    position: relative;
    margin-top: 100px;
    width: 1000px;
    height: 60px;
    margin-left: 380px;
}

.produt-dis p {
    position: relative;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    opacity: .7;
}

.module-1 {
    position: relative;
    margin-left: 300px;
    width: 100%;
}

.module-1 h1 {
    position: relative;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
}

.list-bar ul {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
}

.list-bar ul li {
    display: inline;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 80px;
    padding-right: 350px;
    font-size: 18px;
    font-style: normal;
    cursor: pointer;
}

.power-graph-div {
    position: relative;
    width: 1150px;
    height: 400px;
    background-color: white;
    margin-left: 30px;
    border: 2px solid;
    border-color: #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.power-graph {
    position: relative;
    margin-top: 100px;
}

.power-graph canvas {
    height: 100%;
    width: 100%;
}

.module-1 h3 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1000px;
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    opacity: .6;
}


/*module 1 ends*/

.module-2 {
    position: relative;
    margin-left: 300px;
    width: 100%;
    z-index: 999;
}

.module-2 h1 {
    position: relative;
    margin-left: 50px;
    margin-top: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
}

.socket-m-2 {
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
    width: 500px;
    height: 300px;
    border: 2px solid;
    border-color: #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.list-bar-m-2 ul {
    position: relative;
    margin-top: 0px;
    margin-left: 6px;
}

.list-bar-m-2 ul li {
    display: inline;
    padding-right: 25px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.list-bar-m-2 p {
    position: relative;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 20px;
    opacity: .6;
}

.socket-m-2-line {
    position: relative;
    margin-top: 60px;
    margin-left: 100px;
    width: 300px;
    border-bottom: 3px solid;
    border-color: #ececec;
}

.socket-m-2-line h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 60px;
}


/*module 2 ends*/

.module-3 {
    position: relative;
    margin-left: 400px;
    width: 100%;
}

.module-3 h1 {
    position: relative;
    margin-left: 50px;
    margin-top: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
}

.socket-m-3 {
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
    width: 500px;
    height: 300px;
    border: 2px solid;
    border-color: #ececec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.list-bar-m-3 ul {
    position: relative;
    margin-top: 0px;
    margin-left: 6px;
}

.list-bar-m-3 ul li {
    display: inline;
    padding-right: 26px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.list-bar-m-3 p {
    position: relative;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 20px;
    opacity: .6;
}

.socket-m-3-line {
    position: relative;
    margin-top: 60px;
    margin-left: 100px;
    width: 300px;
    border-bottom: 3px solid;
    border-color: #ececec;
}

.socket-m-3-line h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 60px;
}

.config-res {
    margin-left: 430px;
    font-size: 30px;
    margin-top: 25px;
    color: #77b568;
    cursor: pointer;
}

.dummy {
    position: relative;
    width: 200px;
}

.dummy h1 {
    color: white;
}


/*popups */


/*account*/

.account-div {
    display: none;
    position: fixed;
    width: 300px;
    height: 200px;
    top: 21%;
    left: 85%;
    transform: translate(-50%, -50%);
    border: 1px solid #ececec;
    border-radius: 10px;
    z-index: 99999999;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.account-div h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.account-div h4 {
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
}

.sign-out-btn {
    margin-top: 40px;
    margin-left: 36px;
    width: 230px;
    height: 40px;
    border: 2px solid #ececec;
    border-radius: 20px;
    cursor: pointer;
}

.sign-out-btn h3 {
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
}

.sign-out-btn:hover {
    background-color: #77b568;
    color: white;
}

.account-div h4:hover {
    color: #77b568;
}

.account-div p {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}


/*connect*/

.connect-div {
    display: none;
    position: fixed;
    width: 300px;
    height: 380px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 1px solid #ececec;
    border-radius: 10px;
    z-index: 99999999;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.inp {
    display: block;
    z-index: 200;
    width: 250px;
    height: 30px;
    margin-left: 28px;
    border: 2px solid #ececec;
}

.connect-div h2 {
    display: none;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.connect-div h4 {
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
}

.connect-btn {
    display: block;
    margin-top: 40px;
    margin-left: 36px;
    width: 230px;
    height: 40px;
    border: 2px solid #ececec;
    border-radius: 20px;
    cursor: pointer;
}

.connect-btn h3 {
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
}

.connect-btn:hover {
    background-color: #77b568;
    color: white;
}

.disconnect-btn {
    display: none;
    margin-top: 40px;
    margin-left: 36px;
    width: 230px;
    height: 40px;
    border: 2px solid #ececec;
    border-radius: 20px;
    cursor: pointer;
}

.disconnect-btn h3 {
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
}

.disconnect-btn:hover {
    background-color: #77b568;
    color: white;
}

.connect-div h4:hover {
    color: #77b568;
}

.connect-div p {
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
}


/*vi-curve*/

.vi-div {
    display: none;
    position: fixed;
    width: 900px;
    height: 500px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border: 1px solid #ececec;
    border-radius: 10px;
    z-index: 2000000000000000;
    background-color: #282828;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.vi-div h2 {
    display: block;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: -10px;
}

.vi-div h4 {
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 4px;
    cursor: pointer;
}

.vi-div p {
    color: white;
    margin-top: -5px;
    padding: 20px;
    text-align: justify;
}

.vi-div h4:hover {
    color: #77b568;
}

.v-i-graph {
    position: relative;
    margin-left: 10px;
    width: 875px;
    height: 360px;
}

.option {
    background-color: #282828;
    color: white;
}

.option option {
    color: white;
}


/*pp-curve*/

.pp-div {
    display: none;
    position: fixed;
    width: 900px;
    height: 500px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border: 1px solid #ececec;
    border-radius: 10px;
    z-index: 2000000000000000;
    background-color: #282828;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.pp-div h2 {
    display: block;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: -10px;
}

.pp-div h4 {
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-top: 4px;
    cursor: pointer;
}

.pp-div p {
    color: white;
    margin-top: -5px;
    padding: 20px;
    text-align: justify;
}

.pp-div h4:hover {
    color: #77b568;
}

.p-p-graph {
    position: relative;
    margin-left: 10px;
    width: 875px;
    height: 360px;
}